<template>
  <div class="home">
    <div class="wrapper" @mouseover="show = true">
      <transition name="first-fade">
        <FirstComponent v-if="show"></FirstComponent>
      </transition>
      <transition name="second-fade">
        <SecondComponent v-if="show"></SecondComponent>
      </transition>
      <transition name="third-fade">
        <ThirdComponent v-if="show"></ThirdComponent>
      </transition>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import FirstComponent from '@/components/FirstComponent.vue';
import SecondComponent from '@/components/SecondComponent.vue';
import ThirdComponent from '@/components/ThirdComponent.vue';
@Component({
  data: () => {
    return {
      show: false
    };
  },
  components: {
    FirstComponent,SecondComponent,ThirdComponent
  },
})
export default class Home extends Vue {}
</script>

<style lang="scss">
.home{
  display: flex;
  justify-content: center;
}
$firstDelay: .5s;
$secondDelay: 1s;
$thirdDelay: 2s;
.wrapper {
  display: flex;
  justify-content: center;
  border:1px solid lightblue;
  height:150px;
  width:350px;
  
}
.first-fade-enter-active, .first-fade-leave-active {
  transition: opacity .5s ease-in;
  transition-delay: $firstDelay;
}
.second-fade-enter-active, .second-fade-leave-active {
  transition: opacity .5s ease-in;
  transition-delay: $secondDelay;
}
.third-fade-enter-active, .third-fade-leave-active {
  transition: opacity .5s ease-in;
  transition-delay: $thirdDelay;
}
.first-fade-enter, .first-fade-leave-to,
.second-fade-enter, .second-fade-leave-to ,
.third-fade-enter, .third-fade-leave-to  {
  opacity: 0;
}
</style>
