<template>
    <div>
        <h2>Reddit Style Comment Box</h2>
        <CommentBox></CommentBox>
        <CommentList></CommentList>
    </div>
</template>

<script lang="ts">
import CommentBox from '@/components/CommentBox.vue'
import CommentList from '@/components/CommentList.vue'
import { Component, Vue } from 'vue-property-decorator';

@Component({
    components:{CommentBox,CommentList}
})
export default class Reddit extends Vue {}
</script>

