<template>
    <div>
        <h4>Comments</h4>
        <ul>
            <li v-for="(comment,index) in commentList" :key="index">{{comment.name}} - {{comment.date}}</li>
        </ul>
    </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import {mapGetters,mapActions} from 'vuex'
const { mapFields }  =  require('vuex-map-fields') ;
@Component({
    computed:{
        ...mapGetters({
            'commentList':'comments/GET_COMMENTS_LIST'
        }),
         ...mapFields('comments',[
            'commentField',
        ]),
    },
    methods:{
        ...mapActions({
            'addComments':'comments/ADD_TO_COMMENTS_LIST',
            'updateCommentField':'comments/SET_COMMENT_FIELD'
        })
    }
})
export default class CommentList extends Vue {
    
}
</script>


