<template>
    <div>
        <textarea cols="30" rows="10" v-model="commentField" ></textarea>
        <button @click=addComments>Send</button>
    </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import {mapGetters,mapActions} from 'vuex'
const { mapFields }  =  require('vuex-map-fields') ;
@Component({
    computed:{
        ...mapGetters({
            'commentField':'comments/GET_COMMENT_FIELD'
        }),
         ...mapFields('comments',[
            'commentField',
        ]),
    },
    methods:{
        ...mapActions({
            'addComments':'comments/ADD_TO_COMMENTS_LIST',
            'updateCommentField':'comments/SET_COMMENT_FIELD'
        })
    }
})
export default class CommentBox extends Vue {
    
}
</script>
<style lang="scss" scoped>
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>



