<template>
    <div><p>First</p></div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class FirstComponent extends Vue {
  @Prop() private msg!: string;
}
</script>
<style lang="scss" scoped>
    $color: #F9423A;
    $size: 100px;
    $margin:5px;
    div{
        background:$color;
        width:$size;
        height: $size;
        margin:$margin;
    }
</style>

