<template>
    <div><p>Second</p></div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class SecondComponent extends Vue {
  @Prop() private msg!: string;
}
</script>
<style lang="scss" scoped>
    $color: #707372;
    $size: 100px;
    $margin:5px;
   div{
        background:$color;
        width:$size;
        height: $size;
        margin:$margin;
    }
</style>

